
<div class="container-fluid calendar">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="btn-group">
                <div
                        class="btn btn-primary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="activeDayIsOpen = false">
                    Previous
                </div>
                <div
                        class="btn btn-outline-secondary"
                        mwlCalendarToday
                        [(viewDate)]="viewDate">
                    Today
                </div>
                <div
                        class="btn btn-primary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="activeDayIsOpen = false">
                    Next
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mwl-calendar-month-view
                    [viewDate]="viewDate"
                    [events]="events"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="eventClicked($event)">
            </mwl-calendar-month-view>
        </div>
    </div>
</div>