<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <app-cards></app-cards>
        </div>
        <div class="col-md-7">
            <app-chart></app-chart>
        </div>
    </div>
</div>
<app-calendar></app-calendar>
<div class="container-fluid table-space">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <app-forms></app-forms>
    </div>
        <div class="col-md-6">
            <app-table></app-table>
        </div>
    </div>
</div>
<app-footer></app-footer>