

<form [formGroup]="trainingForm" (ngSubmit)="sendTraining(f)" #f="ngForm" >
            <div class="pb-1">
            <mat-form-field class="full-width">
                <input matInput placeholder="Nombre de Kilomètres" name="kilometre" [formControl]="trainingForm.controls['kilometre']">
                <span matSuffix><mat-icon>directions_bike</mat-icon></span>
            </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="dateSortie" [formControl]="trainingForm.controls['dateSortie']">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput placeholder="00:00:00" name="duree" [formControl]="trainingForm.controls['duree']">
                    <span matSuffix><mat-icon>timer</mat-icon></span>
                </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Forme" name="forme" [formControl]="trainingForm.controls['forme']">
                    <span matSuffix><mat-icon>local_hospital</mat-icon></span>
                </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-checkbox name="isVelo" [formControl]="trainingForm.controls['isVelo']">Course à Pieds</mat-checkbox>
            </div>
            <div class="pb-1">
                <button class="pull-right" mat-stroked-button color="primary" [disabled]="!trainingForm.valid" type="submit" >Envoyez</button>
            </div>
</form>
