<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="kilometre">
      <th mat-header-cell *matHeaderCellDef> Kilomètres </th>
      <td [ngClass]="{'table-primary': element.isVelo == '1','table-success': element.isVelo == '0' }" mat-cell *matCellDef="let element"> {{element.kilometre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dateSortie">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td [ngClass]="{'table-primary': element.isVelo == '1','table-success': element.isVelo == '0' }" mat-cell *matCellDef="let element"> {{element.dateSortie}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="duree">
      <th mat-header-cell *matHeaderCellDef> Temps </th>
      <td [ngClass]="{'table-primary': element.isVelo == '1','table-success': element.isVelo == '0' }" mat-cell *matCellDef="let element"> {{element.duree}} </td>
    </ng-container>

    <ng-container matColumnDef="forme">
      <th mat-header-cell *matHeaderCellDef> Forme </th>
      <td [ngClass]="{'table-primary': element.isVelo == '1','table-success': element.isVelo == '0' }" mat-cell *matCellDef="let element"> {{element.forme}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



