@import '~@angular/material/theming';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

.subtitle {
  color:gray;
}

.cardPhoto {
  height: 200px;
}

.example-card {
  max-width: 400px;
}
